

*{  font-family: 'Arial Narrow Bold';
    font-size: 3vh;


}
header{
  background-color: #A0153E;
  
}

h2{
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.container-12{
    align-items: right;
  display: flex;
  justify-content: right;
  }
  
  body{
    background-color:white;
  }
  h1{
    padding: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    border: white;
    border-color:#A0153E;
    border-radius: 5vh;
    border-bottom: 10px;
    border-style: solid;
    padding-bottom: 5vh;
    
}


.container-5{
padding: 5vh;

}
